[Desktop Entry]
Encoding=UTF-8
Name=Link to AirGuanZ/imgui-filebrowser at 02be68a5d5c6bc4ab1d18fabe0963dc737b226a6
Type=Link
URL=https://github.com/AirGuanZ/imgui-filebrowser/tree/02be68a5d5c6bc4ab1d18fabe0963dc737b226a6
Icon=text-html
