[Desktop Entry]
Encoding=UTF-8
Name=Link to ocornut/imgui_club: Nice things to use along dear imgui
Type=Link
URL=https://github.com/ocornut/imgui_club
Icon=text-html
